{% include 'includes/begin.html' %}

<head>
    <title>About Me</title>
    {% include 'includes/header_scripts.html' %}
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand{{ ' active' if request.path == '/quantum'}}" href="/quantum"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link{{ ' active' if request.path == '/quantum/faq'}}" href="/quantum/faq">FAQ</a>
                    <a class="nav-link{{ ' active' if request.path == '/quantum/story'}}"
                        href="/quantum/story">Story</a>
                    <a class="nav-link{{ ' active' if request.path == '/quantum/references'}}"
                        href="/quantum/references">References</a>
                    <a class="nav-link fas fa-sun fa-3x px-8 icon" id="btnSwitch"></a>
                </div>
            </div>
        </div>
    </nav>
    {% with title="About Me" %}
    {% include 'includes/title.html' %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <p>I'm 20, and in second year at the University of Waterloo. Although I nominally study Software
                    Engineering, I would much rather find jobs where I get paid to reflect on technological advances.
                    Regular opportunities to tell overconfident people that they're wrong are also welcome. I'm taking
                    the ENGL 210E course this term to do just that. In my spare time I code, build rockets with <a
                        href="https://www.waterloorocketry.com/">Waterloo Rocketry</a>, and experiment with amateur
                    radio.</p>
                <p>Some accomplishments I'm proud of:</p>
                <ul class="list-group">
                    <li class="list-group-item">Elected as my cohort's Academic Representative 4 terms running
                    </li>
                    <li class="list-group-item">Successfully removed WUSA director who removed opponents' posters
                    </li>
                    <li class="list-group-item">Won the philosophy award among my graduating class in high school
                    </li>
                    <li class="list-group-item">Packaged Dogecoin wallet software for users in 125+ countries
                    </li>
                    <li class="list-group-item">Got out of bed at 8 this morning, went to class, and made this website
                    </li>
                </ul>
            </div>
            <div class="text-center col-sm-3 my-auto">
                <img src="/static/quantum/qnc.webp" class="rounded img-profile"
                    alt="Network error, image failed to load.">
                <caption>Figure 1: Photograph of sub-basement of quantum laboratory. Source: Primary</caption>
                <br>
                <caption>Recently I researched quantum computing. <a href="quantum/faq">learn more</a> about my
                    findings.</caption>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
    {% include 'includes/footer_scripts.html' %}
    {% include 'includes/copyright.html' %}
</body>

{% include 'includes/end.html' %}