{% include 'includes/begin.html' %}

<head>
    <title>References</title>
    {% include 'includes/header_scripts.html' %}
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand{{ ' active' if request.path == '/quantum'}}" href="/quantum"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link{{ ' active' if request.path == '/quantum/faq'}}" href="/quantum/faq">FAQ</a>
                    <a class="nav-link{{ ' active' if request.path == '/quantum/story'}}"
                        href="/quantum/story">Story</a>
                    <a class="nav-link{{ ' active' if request.path == '/quantum/references'}}"
                        href="/quantum/references">References</a>
                    <a class="nav-link fas fa-sun fa-3x px-8 icon" id="btnSwitch"></a>
                </div>
            </div>
        </div>
    </nav>
    {% with title="References" %}
    {% include 'includes/title.html' %}
    {% endwith %}
    <div class="container">
        <div class="row">

            <p>[1] D. Castelvecchi. "Are quantum computers about to break online privacy?" Nature.
                https://www.nature.com/articles/d41586-023-00017-0 (accessed July 24, 2025).</p>
            <p>[2] J. Kim. "Quantum Computing and Cryptography." Duke University.
                https://people.ee.duke.edu/~jungsang/ECE523/LectureNotes9.pdf (accessed July 24, 2025).</p>
            <p>[3] National Institute of Standards and Technology. "Post-Quantum Cryptography Project." Computer
                Security Resource Center. https://csrc.nist.gov/projects/post-quantum-cryptography (accessed July 24,
                2025).</p>
            <p>[4] R. Dubose and M. Rao. "Harvest now, decrypt later: Why today's encrypted data isn't safe forever."
                HashiCorp Blog.
                https://www.hashicorp.com/en/blog/harvest-now-decrypt-later-why-today-s-encrypted-data-isn-t-safe-forever
                (accessed July 24, 2025).</p>
            <p>[5] B. Schneier. "Lattice-Based Cryptosystems and Quantum Cryptanalysis." Schneier on Security.
                https://www.schneier.com/blog/archives/2024/05/lattice-based-cryptosystems-and-quantum-cryptanalysis.html
                (accessed July 24, 2025).</p>
            <p>[6] S. Aaronson. "Quantum Computing: Between Hope and Hype." Shtetl-Optimized.
                https://scottaaronson.blog/?p=8329 (accessed July 24, 2025).</p>
        </div>
    </div>
    {% include 'includes/footer.html' %}
    {% include 'includes/footer_scripts.html' %}
    {% include 'includes/copyright.html' %}
</body>

{% include 'includes/end.html' %}